/* External Goodies */
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

html,
body {
  background-color: #101010;
  color: #d5d5d5;
  font-family: "JetBrains Mono", monospace;
}

h1 {
  color: #ce2029;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: #ce2029;
  font-weight: bold;
}

h2 {
  color: #ce2029;
  font-weight: bold;
}
h3 {
  color: #f24b4b;
}

p {
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
}

a,
button {
  color: #a62b2b;
  transition: color 0.2s ease;
}
a:hover {
  color: #ce2029;
}

.navbar {
  padding-left: 10px;
}

.navbar-link {
  font-size: 20px;
}

/* Tables */

table {
  border-collapse: collapse;
  border: 2px solid #800000;
}
th,
td {
  border: 2px solid #800000;
  padding: 8px;
}
tr {
  color: #d5d5d5;
}

li {
  padding-top: 10px;
}
