<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="Boggle's Brain" content="I am not a web developer." />
    <meta name="author" content="Boggle" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ 'assets/style.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ 'assets/blog.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ 'assets/code.css' | relative_url }}" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />

    <!-- Javascript -->
    <script
      src="https://kit.fontawesome.com/118610d194.js"
      crossorigin="anonymous"
    ></script>

    <title>{{ page.title | default: "Boggle's Brain" }}</title>
  </head>
  <body>
      <h1> Welcome to Boggle's Brain </h1>
    <div class="navbar">
      {% for item in site.navbar %} {% assign link_url = item.url | relative_url
      %}
      <a
        class="navbar-link {% if page.url == link_url %}active{% endif %}"
        href="{{ link_url }}"
        >{{ item.title }}</a
      >
      {% endfor %}
    </div>
          <hr>

    {{ content }}
  </body>
</html>
